
* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
}

html {
  box-sizing: border-box;
  font-size: 50%;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
}

.container {
  display: flex;
  flex-flow: column;
  overflow: hidden
}

a {
  text-decoration: none;
  color: blue;
}

.page {
  display: flex;
  flex-flow: column;
  background-image: url("../assets/main-background.jpg");
  height: 550px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.nav-bar {
  background-color: #707070;
  height: 35px;
  border-radius: 3px;
  margin-top: 40px;
  max-width: 960px;
  display: flex;
  box-shadow: (0, 0, 0, 0.3) 0 1px 2px;
  flex-flow: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.nav-gradiant {
  background: linear-gradient(180deg, rgba(57, 57, 57, 1) 0%, rgba(57, 57, 57, 1) 48%, rgba(63, 63, 53, 1) 51%, rgba(107, 116, 125, 1) 92%);
}

.nav-lists {
  display: flex;
  align-items: center;
  min-width: 103px;
  justify-content: center;
  border-right: 1px solid grey;
  font-size: 14px;
}

.nav-search {
  border: 2px solid transparent;
  padding-left: 1.5em;
  max-width: 100px;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(124, 128, 133) 30%, rgb(97, 80, 80) 87%);
}

.search-img img {
  max-height: 15px;
  position: absolute;
  padding-right: 100px;
}

.apple_logo img {
  width: 15px;
  height: 15px;
}

.nav-search:focus {
  width: 120px;
  background-color: white;
}

.nav-lists:hover {
  background-color: black;
  color: white;
}

.nav-lists a {
  color: honeydew;
}

.search-image {
  height: 15px;
}

.mid-content {
  display: flex;
  flex-flow: column;
  margin-top: 30px;
  align-items: center;
  color: ivory;
  font-family: 'Raleway', sans-serif;
}

.mid-content h1 {
  padding-top: 10px;
  font-size: 48px;
  text-transform: none;
}

.mid-content h3 {
  padding-top: 10px;
  font-size: 34px;
  max-width: 1000px;
  text-align: center;
  margin-top: 25px;
}

.play {
  display: flex;
  flex-flow: row;
  padding-top: 20px;
  margin-top: 33px;
}

.mid-content a {
  font-size: 24px;
  color: ivory;
}

.mid-content a:hover {
  text-decoration: underline;
}

.end-content {
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: minmax(150px, 200px);
  position: relative;
}

footer {
  margin: auto;
  margin: 20px 170px 0 170px;
  font-size: 12px;
}

.address-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.copyright,
.address-nav {
  padding-bottom: 20px;
}
